<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Ui proto</title>
    <link href="s.css" rel="stylesheet" type="text/css">
    <link href="../bower_components/angular/angular-csp.css" rel="stylesheet" type="text/css">

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/requirejs/require.js"></script>

    <script src="app.js"></script>
    <script src="c.js"></script>
    <script src="directive/numPadButton.js"></script>
    <script src="factory.js"></script>


    <script>
        require.config({
            paths: {
                'core': '../core',
                'infrastructure': '../infrastructure'
            }
        });
    </script>
</head>
<body ng-app="calc">
<div class="container bordered" ng-controller="calcCtrl">
    <div class="screen bordered margin5">
        {{value}}
    </div>

    <div class="keyboard bordered margin5">
        <div class="num-pad-holder">
            <div class="num-pad bordered margin5">
                <num-pad-button ng-repeat="button in numPad"
                data-value="{{::button}}"></num-pad-button>
            </div>
        </div>

        <div class="command-pad-holder">
            <div class="bordered margin5">
                <select ng-model="radix">
                    <option value="2">bin</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option value="10">dex</option>
                    <option value="16">hex</option>
                </select>
                <button ng-click="onKeyPad('reset')">C</button>
                <button ng-click="onKeyPad('-')">-</button>
                <button ng-click="onKeyPad('+')">+</button>
                <button ng-click="onKeyPad('equal')">=</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>